@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela', sans-serif;
}
ul li {
  list-style: none;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
div.box {
  padding-bottom: 5px;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.65);
  border-bottom: 2px solid hsla(0, 0%, 100%, 0.65);
  margin-bottom: 2em;
}
#time {
  margin-bottom: 20px;
  font-size: 90px;
}
#greeting {
  font-size: 30px;
}
.night {
  background-image: url("https://images.unsplash.com/photo-1537136102161-ea2262437412?auto=format&fit=crop&q=80&w=2026&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.morning {
  background-image: url("https://images.unsplash.com/photo-1470137430626-983a37b8ea46?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.afternoon {
  background-image: url("https://images.unsplash.com/photo-1516214104703-d870798883c5?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.evening {
  background-image: url("https://images.unsplash.com/photo-1538991383142-36c4edeaffde?auto=format&fit=crop&q=80&w=2071&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
ul.links {
  position: absolute;
  bottom: 20px;
  width: 30%;
  border-radius: 16px;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-around;
}
ul li {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  transition: all 200ms ease-in-out;
}
ul li:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
ul.links li a {
  display: flex;
  justify-content: center;
}
ul.links li a img {
  width: 100%;
}

@media screen and (max-width: 500px) {
  #time {
    font-size: 70px;
  }
  #greeting {
    font-size: 20px;
  }
}
